*{
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: brown;
    background-color: aqua;
    display: inline;
}
div{
    border: 1;
    border-style: solid;
    border-color: red;
}
img{
    height: 100px;
    width: 100px;
}
.one p{
    color: aqua;
    background-color: brown;
    display: inline-block;
}
div > p{
    font-size: 40px;
}
#name{
    color: blue;
    background-color: aqua;
}
.two{
    display: inline-block;
}
.highlight{
    font-size: 16px;
    background-color: yellow;
}
